<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
  integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

  <div class="col-md-9 pt-3">
    <div class="d-flex flex-row border rounded">
      <div class="p-0 w-25">
        <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" />
      </div>
      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
        <h4 class="text-primary">Leanne Boulton</h4>
        <h5 class="text-info">Photographer</h5>
        <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
          <p>Hi I want to work with you. I have five years of experience on Graphic Design</p>
        </ul>
        <button class="btn btn-primary" style="margin: 10px;">Message</button>
        <button class="btn btn-primary">Hire</button>
      </div>
    </div>
  </div>

    <div class="col-md-9">
      <div class="d-flex flex-row border rounded">
        <div class="p-0 w-25">
          <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" />
        </div>
        <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
          <h4 class="text-primary">Leanne Boulton</h4>
          <h5 class="text-info">Photographer</h5>
          <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
            <p>Hi I want to work with you. I have five years of experience on Graphic Design</p>
          </ul>
          <button class="btn btn-primary" style="margin: 10px;">Message</button>
          <button class="btn btn-primary">Hire</button>
        </div>
      </div>
    </div>

      <div class="col-md-9">
        <div class="d-flex flex-row border rounded">
          <div class="p-0 w-25">
            <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" />
          </div>
          <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
            <h4 class="text-primary">Leanne Boulton</h4>
            <h5 class="text-info">Photographer</h5>
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <p>Hi I want to work with you. I have five years of experience on Graphic Design</p>
            </ul>
              <button class="btn btn-primary" style="margin: 10px;">Message</button>
              <button class="btn btn-primary">Hire</button>
          </div>
        </div>
      </div>