<div class="container">
  <div class="form-group">
    <div class="col-md-9 col-md-offset-1">
      <h2>Create Job</h2>
      <form action="" method="POST" class="design">
        <div class="form-group">
          <label for="jTitle"><b>Title</b> <span class="require">*</span></label>
          <input type="text" class="form-control" name="jTitle" />
        </div>
        <div class="form-group">
          <label for="title"><b>Category</b><span class="require">*</span></label>
          <select id="categroy" class="form-control">
            <option>Graphic Design</option>
            <option>Video Editing</option>
            <option>Web Design</option>
            <option>Digital Marketing</option>
            <option>Youtube Marketing</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description"><b>Job Description</b></label>
          <textarea rows="4" class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="type"><b>Project Type</b><span class="require">*</span></label>
          <select id="type" class="form-control">
            <option>One Time</option>
            <option>One Going</option>
            <option>Long Term</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fileUpload"><b>Additional Project Files</b></label>
          <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
          </angular-file-uploader>
        </div>
        <div class="form-group">
          <label for="level"><b>Freelancer Level</b><span class="require">*</span></label>
          <select id="type" class="form-control">
            <option>Entry Level</option>
            <option>Intermediate</option>
            <option>Expert</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount"><b>Budget Amount</b><span class="require"> *</span></label>
          <input type="text" class="form-control" name="amount" />
        </div>
        <div class="form-group">
          <label for="duration"><b>Job Duration</b><span class="require">*</span></label>
          <select id="type" class="form-control">
            <option>Less Than a Week</option>
            <option>Within a Month</option>
            <option>More Than a Month</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Post Your Job
          </button>
          <button class="btn btn-danger">
            Cancel Job
          </button>
        </div>
      </form>
    </div>
  </div>
</div>