<div class="top"></div>
<div id="container">
  <div class="card" style="padding-top: 5%;">
    <div class="card-body">
      <h5 class="card-title">Children Book illustration</h5>
      <p class="card-text">Hi there,
        I am a former school teacher ready to have my first children storybook series being illustrated and published.
        I am looking for a talented illustrator who can bring my story to life!
        The characters are all animal so the general theme is jungle/animal.
        If everything goes well, there will be more collaboration for future books.</p>
        <p>price 500$ </p>
      <a href="#" class="btn btn-default"><b>Saved Job</b></a><span> </span>
      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Cancel Job</a>
    </div>
  </div><br>
  
  <div id="container">
    <div class="card" style="padding-top: 5%;">
      <div class="card-body">
        <h5 class="card-title">Logo Design</h5>
        <p class="card-text">Hi there,
          I am a former school teacher ready to have my first children storybook series being illustrated and published.
          I am looking for a talented illustrator who can bring my story to life!
          The characters are all animal so the general theme is jungle/animal.
          If everything goes well, there will be more collaboration for future books.</p>
          <p>price 700$ </p>
        <a href="#" class="btn btn-default"><b>Saved Job</b></a><span> </span>
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Cancel Job</a>
      </div>
    </div><br>