<div class="form-group pt-3"><h4>My Job Feed</h4></div>
<div id="container">
<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Children Book illustration</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 500$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Banner Design</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 400$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Book Cover Design</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 150$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Brand Design</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 1000$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Channel Intro Making</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 300$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h5 class="card-title">Image Editing</h5>
    <p class="card-text">Hi there,
      I am a former school teacher ready to have my first children storybook series being illustrated and published.
      I am looking for a talented illustrator who can bring my story to life!
      The characters are all animal so the general theme is jungle/animal.
      If everything goes well, there will be more collaboration for future books.</p>
      <p>price 100$ </p>
    <a href="#" class="btn btn-primary">Save Job</a><span> </span>
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">Bid Job</a>
  </div>
</div><br>
</div>

<div class="container">
  <!-- Button to Open the Modal -->
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Submit a proposal</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlTextarea1"><b>Cover Later</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">Hello! I'd like to invite you to take a look at the job I've posted. Please submit a proposal if you're available and interested. Best Regards Ahsun Habib</textarea>
          </div>
          <div class="form-group">
            <label for="hrlyrate"><b>Hourly Rate</b></label>
            <input type="text" class="form-control" value="$ 15">
          </div>
          <div class="form-group">
            <label for="hrlyrate"><b>Attachments</b></label>
            <input type="file" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"><b>Choose a Job</b></label>
            <select class="form-control">
              <option>Banner Design</option>
              <option>Logo Design</option>
              <option>Business Card Design</option>
            </select>
          </div>
          <button class="btn btn-success" data-toggle="modal" data-target="#myModal2">Submit Proposal</button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p>Submited Successfully!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
