<div class="body">
  <img src="/assets/images/img-banner.jpg" alt="img-banner" style="width: 100%; height: 570px;"><br><br><br>
  <h4 style="text-align: center;">Find quality talent or agencies</h4>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-12 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid" alt="">
            <a href="" style="text-align: center;">Mobile Software Dev</a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid" alt="">
          <a href="" style="text-align: center;">Design & Creative</a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid" alt="">
          <a href="" style="text-align: center;">Sales & Marketing </a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid" alt="">
          <a href="" style="text-align: center;">Article Writing </a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid" alt="">
          <a href="" style="text-align: center;">Admin Support </a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid" alt="">
          <a href="" style="text-align: center;">Customer Service</a>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-6 col-md-8">

          <h3 class="font-weight-bold">How it works</h3>

          <p class="text-muted">Find specialized experts and agencies for large projects</p>
          <a class="btn btn-info btn-md ml-0 mb-5" href="#" role="button">Start now<i class="fa fa-magic ml-2"></i></a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row">

        <!--First column-->
        <div class="col-lg-3 col-md-6">
          <i class="fas fa-gem fa-3x blue-text"></i>
 
          <p class="font-weight-bold my-3">Post a job (it’s free)</p>

          <p class="text-muted">Tell us about your project. Upwork connects you with top talent and agencies 
            around the world, or near you.</p>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-chart-area fa-3x teal-text"></i>

            <p class="font-weight-bold my-3">Bids come to you</p>
  
            <p class="text-muted">Get qualified proposals within 24 hours. Compare bids, reviews, and prior work. 
              Interview favorites and hire the best fit.</p>
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-cogs fa-3x indigo-text"></i>

            <p class="font-weight-bold my-3">Collaborate easily</p>
  
            <p class="text-muted">Use Upwork to chat or video call, share files, and track project milestones from your 
              desktop or mobile.</p>
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>

            <p class="font-weight-bold my-3">Payment simplified</p>
  
            <p class="text-muted">Pay hourly or fixed-price and receive invoices through Upwork. 
              Pay for work you authorize.</p>
        </div>
        <!--/Fourth column-->

      </div>
      <!--/Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>